<!DOCTYPE html>
<html>
	<head>
	  <title>One Point Four: a travel photography blog</title>
	  <link href='http://fonts.googleapis.com/css?family=Open+Sans:700,300,800,400' rel='stylesheet' type='text/css'>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	</head>
	<body>
		<section id="screen1" class="bg">
			<header>
				<div class=logo>
					<ul>
						<li><h1>1.4</h1>
						</li>
						<li><h5>one point four</h5>
						</li>
					</ul>
				</div>
				<div class="slogan">
					<h5>a traveling photography blog</h5>	
				</div>
			</header>
 			<nav>
				<ul>
					<li><%= link_to 'HOME', root_path %>
					</li>
					<li><%= link_to 'ABOUT', about_path %>
					</li>
					<li><%= link_to 'LOGIN', session_new_path %>
					</li>
					<li><%= link_to 'SIGNUP', new_user_path %>
					</li>
				</ul>
			</nav>
			<div class="article-title">
				<h2>Los Angeles, CA</h2>
			</div>
		</section>
		<section id="screen2">
			<article>
				<div class="article-title">
					<h2>Rio de Janeiro, Brazil</h2>
				</div>
				<div class="article-content">		
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum voluptatibus eveniet quibusdam temporibus doloremque ex odio corrupti, quos quas laboriosam iste aperiam perspiciatis ipsam. Perspiciatis pariatur suscipit, facere libero esse.
					</p>
					<br>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum voluptatibus eveniet quibusdam temporibus doloremque ex odio corrupti, quos quas laboriosam iste aperiam perspiciatis ipsam. Perspiciatis pariatur suscipit, facere libero esse.
					</p>
				</div>
			</article>
		</section>

		<section id="screen3">
			<article>
				<div class="article-title">
					<h2>Belize</h2>
				</div>
				<div class="article-content">		
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum voluptatibus eveniet quibusdam temporibus doloremque ex odio corrupti, quos quas laboriosam iste aperiam perspiciatis ipsam. Perspiciatis pariatur suscipit, facere libero esse.
					</p>
					<br>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum voluptatibus eveniet quibusdam temporibus doloremque ex odio corrupti, quos quas laboriosam iste aperiam perspiciatis ipsam. Perspiciatis pariatur suscipit, facere libero esse.
					</p>
				</div>
			</article>
		</section>
		<section id="screen4">
			<article>
				<div class="article-title">
					<h2>Boulder, CO</h2>
				</div>
				<div class="article-content">		
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum voluptatibus eveniet quibusdam temporibus doloremque ex odio corrupti, quos quas laboriosam iste aperiam perspiciatis ipsam. Perspiciatis pariatur suscipit, facere libero esse.
					</p>
					<br>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum voluptatibus eveniet quibusdam temporibus doloremque ex odio corrupti, quos quas laboriosam iste aperiam perspiciatis ipsam. Perspiciatis pariatur suscipit, facere libero esse.
					</p>
				</div>
			</article>
		</section>
		<section id="screen5">
			<article>
				<div class="article-title">
					<h2>SanFrancisco, CA</h2>
				</div>
				<div class="article-content">		
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum voluptatibus eveniet quibusdam temporibus doloremque ex odio corrupti, quos quas laboriosam iste aperiam perspiciatis ipsam. Perspiciatis pariatur suscipit, facere libero esse.
					</p>
					<br>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum voluptatibus eveniet quibusdam temporibus doloremque ex odio corrupti, quos quas laboriosam iste aperiam perspiciatis ipsam. Perspiciatis pariatur suscipit, facere libero esse.
					</p>
				</div>
			</article>
		</section>
		<section id="screen6">
			<article>
				<div class="article-title">
					<h2>New York City</h2>
				</div>
				<div class="article-content">		
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum voluptatibus eveniet quibusdam temporibus doloremque ex odio corrupti, quos quas laboriosam iste aperiam perspiciatis ipsam. Perspiciatis pariatur suscipit, facere libero esse.
					</p>
					<br>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum voluptatibus eveniet quibusdam temporibus doloremque ex odio corrupti, quos quas laboriosam iste aperiam perspiciatis ipsam. Perspiciatis pariatur suscipit, facere libero esse.
					</p>
				</div>
			</article>
		</section>
		<section id="screen7">
			<article>
				<div class="article-title">
					<h2></h2>
				</div>
				<div class="article-content">		
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum voluptatibus eveniet quibusdam temporibus doloremque ex odio corrupti, quos quas laboriosam iste aperiam perspiciatis ipsam. Perspiciatis pariatur suscipit, facere libero esse.
					</p>
					<br>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum voluptatibus eveniet quibusdam temporibus doloremque ex odio corrupti, quos quas laboriosam iste aperiam perspiciatis ipsam. Perspiciatis pariatur suscipit, facere libero esse.
					</p>
				</div>
			</article>
		</section>

	<footer>
		<div class=footer-logo>
			<ul>
				<li><h1>1.4</h1>
				</li>
				<li><h5>one point four</h5>
				</li>
			</ul>
		</div>
	</footer>

	<%= yield %>

	</body>
</html>
