<!DOCTYPE html>
<html>
<head>
  <title>OldNy3</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
	<body>
		<header>
			<h3> Historical Hidden Gems</h3>
			<nav>
				<ul>
					<li><%= link to 'index', root_path %></li>
					<li><%= link_to 'about', 'about_path' %></li>
					<li><%= link_to 'users', 'users_path' %></li>
				</ul>
			</nav>

		</header>
		
		<main>
			<%= flash[:notice] if flash[:notice] %>
			<%= yield %>
		</main>

	</body>
</html>
